<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1 background-image-pages" style="height: 320px; background-image: url('../../../assets/images/interior-3778708_1920.jpg')">
      <div class="transparent-layer">
        <div class="headline-container"><span class="headline-pages">Vermietung</span></div>
      </div>
    </div>
  </div>
</section>

<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1" style="height: 100%;">
      <!-- new row -->
      <div class="inner-flex-container right-flex">
        <div id="left_ani_1" class="item item-left" style="margin-left: 0px" [@drive-in-from-left]="left_ani_1 ? true : false">
          <img src="../../../assets/images/vermietung.png" width="430">
        </div>
        <div class="item item-right" style="margin-left: -30px" [@drive-in-from-right]="right_ani_1 ? true : false">
          <span class="subtext-content-font">
          Ob Vermietung, Leerstandsabbau oder Expansion, die Erstellung von Vermietungskonzepten oder Mietvertragsverlängerung - wir stehen Ihnen und Ihren Mietern mit unseren Internationalen Vermietungskontrakten zur Verfügung.
          </span>
        </div>
      </div>

    </div>
  </div>
</section>
