<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1 background-image-pages" style="height: 320px; background-image: url('../../../assets/images/iStock-903713484.jpg')">
      <div class="transparent-layer">
        <div class="headline-container"><span class="headline-pages">Kontakt</span></div>
      </div>
    </div>
  </div>
</section>

<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1">
      <!-- new row -->
      <div class="inner-flex-container right-flex">
        <div class="item item-left">
          Wir freuen uns, von Ihnen zu hören.<br>
          Senden Sie uns eine E-Mail oder eine Nachricht, wenn Sie eine Frage haben.
        </div>
        <div class="item item-right">
          <span class="subtext-content-font">
            office@centurionpartnersholding.eu
            <br>
            Tel: 02173 / 265 03 7
            <br>
            Fax: 02173 / 265 03 8
          </span>
          <br><br>
          <div class="social">
            <a href="https://www.facebook.com/centurion.partner.7" target="_blank">
              <div class="circle circle-facebook">
                <i style="color: black" class="fab fa-facebook-f"></i>
              </div>
            </a>
            <a href="https://www.instagram.com/centurion.partner.gmbh/" target="_blank">
              <div class="circle circle-instagram">
                <i style="color: black" class="fab fa-instagram"></i>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
