
<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1 background-image-pages" style="height: 320px; background-image: url('../../../assets/images/paper-3213924_1920.jpg')">
      <div class="transparent-layer">
        <div class="headline-container"><span class="headline-pages" style="color: #960219">Management</span></div>
      </div>
    </div>
  </div>
</section>

<section class="is-flex-container" [@text-ani-1]="text_ani_1 ? true : false">
  <div class="section group">
    <div class="col span_1_of_1" style="height: auto;">
      <div class="inner-flex-layer-text">
        <div class="inner-text-layer">
          <span class="subtext-content-font">
            Die globale und somit auch die europäischen Immobilienmärkte sind derzeit von einer sehr hohen Dynamik geprägt, insbesondere seit der weltweiten Corona Krise.
            <br><br>
            In diesem angespannten, dynamischen wachsenden Marktumfeld bietet die Centurion Partner Holding GmbH als agierender Immobilien-Full-Service-Dienstleister unseren Kunden qualitativ hochwertige und auf die jeweiligen Kundenbedürfnisse individuell abgestimmte Dienstleistungen an.
            <br><br>
            Die Zusammenarbeit mit unserem Kunden verstehen wir als Partnerschaft und stellen dabei selbst höchste Ansprüche an uns. Jedem unseren Kunden steht ein persönlicher Client Manager zur Seite.
            <br><br>
            Es ist selbstverständlich für uns, dass wir bundesweit mit etablierten und standardisierten Prozessen agieren, um für unsere Partner einheitliche Dienstleistungsstandards gewährleisten zu können.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1" style="height: 100%;">
      <!-- new row -->
      <div id="PropertyManagement" class="inner-flex-container left-flex">
        <div class="item item-left" [@drive-in-from-left]="left_ani_1 ? true : false">
          <div class="headline-pages">Property Management</div><br>
          <span class="subtext-content-font">
            Durch lokale Betreuung sowie professionelle, innovative Steuerung und Überwachung sichern wir Ihren Immobilien schnelle und lösungsorientierte Entscheidungen.
          </span>
        </div>
        <div id="left_ani_1" class="item item-right" [@drive-in-from-right]="right_ani_1 ? true : false">
          <img src="../../../assets/images/property.png">
        </div>
      </div>

      <!-- new row -->
      <div id="AssetManagement" class="inner-flex-container right-flex">
        <div id="left_ani_2" class="item item-left" [@drive-in-from-left-2]="left_ani_2 ? true : false">
          <img src="../../../assets/images/asset.png">
        </div>
        <div class="item item-right margin-left" [@drive-in-from-right-2]="right_ani_2 ? true : false">
          <div class="headline-pages">Asset Management</div><br>
          <span class="subtext-content-font">
            Wir leisten strategische Lösungen rund um den gesamten Lebenszyklus Ihrer Immobilien und haben dabei besonders, Rendite- und risikorelevante Faktoren im Blick.﻿
          </span>
          <br><br>
          <div style="font-size: 19px; color: black; margin-bottom: 14px">Wertpotenziale heben</div>
          <span class="subtext-content-font">
            Wir managen Ihre Assets nicht einfach nur, sondern entwickeln mit Ihnen gemeinsam nachhaltige und auf den jeweils regionalen Markt abgestimmte Gesamtkonzepte, um den Wert Ihrer Immobilie zu erhalten und zu optimieren.
          </span>
        </div>
      </div>


      <!-- new row -->
      <div id="Projektsteuerung" class="inner-flex-container left-flex">
        <div class="item item-left" [@drive-in-from-left-3]="left_ani_3 ? true : false">
          <div class="headline-pages">Projektsteuerung</div><br>
          <span class="subtext-content-font">
            Als Projektsteuerer koordinieren wir für Sie Revitalisierungs- und Umbaumaßnahmen sowie Mietflächenausbauten und erhalten bzw. optimieren so den Wert Ihrer Immobilie.
          </span>
          <br><br>
          <div style="font-size: 19px; color: black; margin-bottom: 14px">Strategische Portfoliosteuerung</div>
          <span class="subtext-content-font">
            Wir kümmern uns nicht nur um einzelne Objekte, sondern entwickeln gemeinsam mit Ihnen Lösungen für die strategische Steuerung Ihres gesamten Portfolio. Unsere unternehmenseigene Software hilft uns dabei, alle relevanten Daten Ihrer Immobilie im Blick zu behalten.
          </span>
        </div>
        <div id="left_ani_3" class="item item-right" [@drive-in-from-right-3]="right_ani_3 ? true : false">
          <img src="../../../assets/images/projekt.png">
        </div>
      </div>

      <!-- new row -->
      <div id="CenterManagement" class="inner-flex-container right-flex">
        <div id="left_ani_4" class="item item-left" [@drive-in-from-left-4]="left_ani_4 ? true : false">
          <img src="../../../assets/images/center.png">
        </div>
        <div class="item item-right margin-left" [@drive-in-from-right-4]="right_ani_4 ? true : false">
          <div class="headline-pages">Center Management</div><br>
          <span class="subtext-content-font">
            Durch unsere internationalen Centermanagement- und Vermietungsaktivitäten stellen wir Ihre Einzelhandelsimmobilien optimal auf.
          </span>
        </div>
      </div>

      <!-- new row -->
      <div id="Fondsmanagement" class="inner-flex-container left-flex">
        <div class="item item-left" [@drive-in-from-left-5]="left_ani_5 ? true : false">
          <div class="headline-pages">Fondsmanagement</div><br>
          <span class="subtext-content-font">
            Für von uns betreute Fonds- und Investmentprodukte arbeiten wir mit internationalen Beratern zusammen und blicken auf langjährige Erfahrungen zurück. In unserem Fonds- und Investmentbereich arbeiten wir kundenorientiert: in einem Beratungsgespräch definieren wir Ihre Vermögensziele und Wünsche und schlagen Ihnen ein Portfolio mit Risiko- und Renditeprognosen vor, das darauf abgestimmt ist.
          </span>
        </div>
        <div id="left_ani_5" class="item item-right" [@drive-in-from-right-5]="right_ani_5 ? true : false">
          <img src="../../../assets/images/font.png">
        </div>
      </div>

    </div>
  </div>
</section>
