<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_1 background-image-pages" style="background-image: url('../../../assets/images/chairs-2181960_1920.jpg')">
      <div class="transparent-layer">
        <div class="headline-container"><span class="headline-pages">About us</span></div>
      </div>
    </div>
  </div>
</section>

<section class="is-flex-container">
  <div class="section group">
    <div class="col span_1_of_2" style="height: 100%">
      <div class="inner-col-left">
        <div class="left-container">
          <img src="../../../assets/images/centurion-partner-holding-gmbh-logo-about-1920w.jpg">
        </div>
      </div>
    </div>
    <div class="col span_1_of_2">
      <div class="inner-col-right">
        <div class="right-container">
          <span class="subtext-content-font">
            Die <b>Centurion Partners Holding GmbH</b> wurde im August 2020 gegründet.
          Deren Beteiligte Unternehmen und Personen sind zuverlässige Unternehmer
          als Full- Service - Dienstleister sowie internationale Investoren
          für Anlagenimmobilien weltweit mit den Schwerpunkten Asien und Europa.
          Wir bieten Ihnen ein vollumfängliches Leistungsspektrum aus Property Management,
          Asset Management, Projektsteuerung, Center Management, Vermietung,
          Investment und Forderungsmanagement.
          <br><br>
            <div style="font-size: 19px; color: black; margin-bottom: 14px">Persönlicher Ansprechpartner</div>
          Durch unsere weltweite Vernetzung gewährleisten wir immer den passenden Ansprechpartner,
          der Ihre Immobilie optimal betreut. Jedem unserer Kunden steht ein persönlicher
          Client Manager rund um die Uhr über den gesamten Lebenszyklus Ihres Investments eng begleitend zur Verfügung.
          Wir koordinieren sämtliche Dienstleistungen für Sie aus einer Hand.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
