<section class="is-flex-container" style="overflow: hidden">
  <div class="section group" style="width: 92%; max-width: 960px; padding-top: 30px; padding-bottom: 80px">
    <div class="col span_1_of_1 subtext-content-font" style="height: auto; line-height: 1.6rem">
      <h1 class="headline-impressum">Allgemeine Geschäftsbedingungen der Centurion Partners Holding GmbH</h1>
      <h2 class="headline-2-impressum"></h2>
    </div>
    <div>
      <b>§1.</b><br> Mit der Erteilung des Auftrages erklärt sich der Auftraggeber/ Geschäftspartner/ Lieferant bzw. Dienstleister mit dem nachstehenden Geschäftsbedingungen einverstanden.
    </div>
    <br>
    <div>
      <b>§2.</b><br>
      Ein Auftrag bedarf keinerlei Form, er kommt auch dadurch zustande, dass jemand unsere Tätigkeit in Anspruch nimmt, diese durch schlüssiges Handeln duldet oder in anderer Weise zurechenbar nutzt.
    </div>
    <br>
    <div>
      <b>§3.</b><br>
      Wir verpflichten uns, die Aufträge mit der Sorgfalt eines ordentlichen Kaufmanns zu bearbeiten und werden alle Unterlagen -somit mit der Durchführung des Auftrages vereinbar- vertraulich behandeln. Wir verpflichten uns ferner, alle uns bekannten, das Projekt betreffende wesentlichen Tatsachen den jeweiligen Auftraggeber mitzuteilen. Wir sind jedoch nicht verpflichtet, von uns aus Erkundigungen über das Projekt, deren Akteuren, Gesellschaftern samt Geschäftspartner Informationen einzuziehen, es sei denn, dass wir die Richtigkeit erhaltener Informationen persönlich zugesichert haben.
    </div>
    <div></div>
    <br>
    <div>
      <b>§4.</b><br>
      Der Auftraggeber verpflichtet sich, uns alle zur Bearbeitung des Auftrages erforderlichen Unterlagen in einwandfreier Form zur Verfügung zu stellen.
      <br><br>
      Er verpflichtet sich ferner, alle unsere Mitteilungen und Unterlagen streng vertraulich zu behandeln und Dritten nicht zugänglich zu machen.
      <br><br>
      Erlangt ein Dritter durch den Auftraggeber bzw. dem Empfänger oder mit dessen Billigung Kenntnis von unseren Mitteilungen oder auch nur die Adressen von uns genannten Geschäftspartnern und kommt dadurch ein Geschäftsabschluss zustande, ist eine Vermittlungsgebühr in Höhe von 15% des Wertes an uns fällig, zahlbar innerhalb von 14 Tagen nach Rechnungsstellung.
    </div>
    <br>
    <div>
      <b>§5.</b><br>
      Eine direkte Kontaktaufnahme mit von uns nachgewiesenen oder Vermittelten Interessenten darf nur mit unserer schriftlichen Zustimmung erfolgen. Von direkten Verhandlungen und ihrem Inhalt sind wir unaufgefordert zeitnah schriftlich zu unterrichten.
    </div>
    <br>
    <div>
      <b>§6.</b><br>
      Wir sind berechtigt, auch für andere Vertragspartner entgeltliche Dienstleistung anzubieten. Die Gefahr einer Interessenkonfliktes wird von sämtlichen Vertragspartner ausdrücklich geduldet.
    </div>
    <br>
    <div>
      <b>§7.</b><br>
      Der volle Gebührenanspruch besteht mit der jeweiligen Rechnungsstellung der Centurion Partners Holding GmbH und ist zahlbar innerhalb von 14 Banktagen nach Rechnungsstellung.
    </div>
    <br>
    <div>
      <b>§8.</b><br>
      Handelt es sich um eine reine Finanzierungsberatung fällt eine Beratungsgrundgebühr von 2% zuzüglich der jeweiligen gesetzlichen Mehrwertsteuer aus dem geplanten Finanzierungsbedarf an. Ferner wird ein Stundenhonorar von 850.-€ plus MWSt. Spesen, Auslagen sowie Kosten von weiteren Dienstleister werden nach tatsächlichen Kosten in Rechnung gestellt. Gefahrene km werden durch Privatautos getätigt und somit mit 2,60€ ohne MWSt berechnet, das Inkasso hierfür übernimmt die Rechnungsstellerin. Diese Kosten fallen an, unabhängig ob die Darlehen gewährt werden oder nicht, bzw. Ob das Darlehen abgerufen wird.
    </div>
    <br>
    <div>
      <b>§9.</b><br>
      Die Vertragspartner sind sich darüber Einig, dass die Centurion Partners Holding GmbH eine Vorab Rechnung von mind 10 Arbeitsstunden in Rechnung stellt sowie diese unverzüglich auf das in der Rechnung genannte Konto zu überweisen ist. Im Verzug werden p.m. 1 % der Rechnungssumme in Rechnung gestellt. Mahngebühren werden mit 50.-€ in Rechnung gestellt.
    </div>
    <br>
    <div>
      <b>§10.</b><br>
      Sollte die Firma Centurion Partners Holding GmbH Bestellungen bzw. Dienstleistungen in Auftrag geben, gilt ein Zahlungsziel von 180 Arbeitstagen vereinbart. Sollte dieser Auftrag auf einem von ihnen verwendeten Formblatt gegeben sein, werden mit Annahme durch den Vertragspartner die Vertragstexte, welche diesen zur Anwendungen kommenden AGB widersprechen ausdrücklich widersprochen und mit dem der AGB der Centurion Partners Holding GmbH ersetzt. Diese allein sind Geschäftsgrundlage jeder Geschäftsbeziehung mit unserem Unternehmen.
      <br><br>
      Sollten ausdrücklich gewünscht werden, dass vorher Bezahlt werden, gelten 0,33% Skonto je Tag als unwiderruflich vereinbart.
    </div>
    <br>
    <div>
      <b>§11.</b><br>
      Die Centurion Partners Holding GmbH ist ein Unternehmen im umsatzsteuerlichem Sinne und verrechnet monatlich die Umsatzsteuer. Die Rechnungen werden nach Paragraph 11 dieser Allgemeinen Geschäftsbedingungen bezahlt, jedoch auf keinem Fall vor Erstattung der Umsatzsteuer durch das zuständige Finanzamt.
    </div>
    <br>
    <div>
      <b>§12.</b><br>
      Gibt es Streitigkeiten darüber, ob die Firma Centurion Partners Holding GmbH die Rechnung ordnungsgemäß gestellt hat, muss der Rechnungsbetrag trotz allem wie in Paragraphen 8/9/10 genannt bezahlt werden. Im Falle eines von der Centurion Partners Holding GmbH eingeleiteten Mahnverfahren wird schon mit gültig werden der AGB vereinbart, das kein Widerspruch gegen den Mahnbescheid und den Vollstreckungsbescheid eingelegt wird. Ansprüche  zu Lasten der Centurion Partners Holding GmbH sind im Klagewege abzuklären und können nicht mit Forderungen der Centurion Partners Holding GmbH aufgerechnet werden.
    </div>
    <br>
    <div>
      <b>§13.</b><br>
      Der Rechnungsbetrag muss innerhalb von 14 Banktagen nach Rechnungsstellung auf das angegebene Konto ohne Abzug bezahlt werden. Abweichungen bedürfen der Schriftform.
    </div>
    <br>
    <div>
      <b>§14.</b><br>
      Sollten Teile dieser Allgemeinen Geschäftsbedingungen ungültig sein, sind diese so abzuändern, dass der gewünschte Erfolg der Centurion Partners Holding GmbH erreicht wird, da dies Geschäftsgrundlage sämtlicher Beratungen ist und auf diesen Wege nochmals betont sein soll.
    </div>
    <br>
    <div>
      <b>§15.</b><br>
      Anderweitige Abmachungen Erlangen nur durch schriftliche Bestätigung der Centurion Partners Holding GmbH Gültigkeit.
    </div>
    <br>
    <b>§16.</b><br>
    Als Gerichtsstand gilt soweit zulässig Düsseldorf als vereinbart.
  </div>
</section>

